# Ignorar archivos de simulaciones y datos pesados
*.hdf5
**/db/
**/out/
**/p/
**/tmp/
**/tool/
**/wp/
*.zip
**/xlsx/
MaxEnt_SPRT/MaxEnt_SPRT/docs/technical/
MaxEnt_SPRT/MaxEnt_SPRT/sphinx_docs/build/
*.pkl
*.csv
